body {
    background-color: white;
    background: linear-gradient(to right, rgb(0, 149, 249) -90%, rgb(99, 193, 255) 100%);
    background-size: cover;
    background-position: right;
    color: white;
}

.carrinho-vazio {
    font-size: 18px;
}

.btn-remover {
    color: black;
}

#comprar {
    color: black;
}