

body {
    background-color: white;
    background: linear-gradient(to right, rgba(4, 53, 108, 1) 30%, rgba(0, 30, 50, 0.54) 100%), url(../../img/cell-phone-801946_1280.jpg);
    background-size: cover;
    background-position: right;
}

    .messages > h1, .messages > p {
        color: white;
    }

.messages > .line {
    width: 18.5vh;
    margin: 0 0 6px;
    border-top: 1.8px solid white;
}

.messages {
    margin-top: 30vh;
}