body {
    font-family: 'Open Sans';
}

.navbar > .container .navbar-brand {
    color: #262626;
}

    .navbar > .container .navbar-brand:hover {
        color: rgb(0, 149, 249);
    }

.navbar-inverse {
    background: linear-gradient(to right, rgb(255, 255, 255) 0, rgb(255, 255, 255) 100%);
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.59);
    background-size: auto !important;
    background-size: 100% 6px !important;
    padding-bottom: 3px;
    font-family: 'Open Sans';
}

    .navbar-inverse .navbar-nav > .open > a, .dropdown-menu {
        background-color: rgb(0, 149, 249) !important;
        margin-top: -1px !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #262626;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: rgb(0, 149, 249);
        }

        .navbar-inverse .navbar-nav > li > a:active {
            color: rgb(0, 149, 249);
        }

        .dropdown-toggle {
            cursor: pointer;
        }

.dropdown-menu > li > a {
    color: white;
    text-decoration: none;
}

    .dropdown-menu > li > a:hover {
        color: rgb(168, 217, 251);
        background-color: transparent;
        text-decoration: none;
    }

footer {
    color: white;
    font-family: 'Open Sans';
}

    footer hr.line-footer {
        border: 0;
        height: 1px;
        background-image: none;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 137, 255), rgba(255, 255, 255, 0));
    }