body {
    background: linear-gradient(to right, rgb(0, 149, 249) -90%, rgb(99, 193, 255) 100%);
}

.body-content {
    background-color: white;
    border-radius: 5px;
}

#desc-container {
    padding-right: 30px;
    padding-left: 0;
    margin-left: -10px;
    margin-bottom: 1em;
}

.nome {
    font-size: 22px;
}

.preco {
    font-size: 25px;
}

.codigo {
    font-size: 14px;
}

.codigo-label {
    font-weight: normal;
}

.quantidade > span, .btn-quantidade-subtr, .btn-quantidade-add {
    font-size: 18px;
}

.quantidade-view:hover {
    text-decoration: none;
}

.btn-quantidade-subtr, .btn-quantidade-add {
    background: linear-gradient(to right, rgb(0, 149, 249) -90%, rgb(0, 149, 249) 100%);
    border: none;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    margin: 5px;
}

    .btn-quantidade-subtr:hover, .btn-quantidade-add:hover {
        background: linear-gradient(to right, rgb(4, 118, 195) -90%, rgb(4, 118, 195) 100%);
    }

    .quantidade-view {
        color: black;
    }

.estoque {
    font-size: 14px;
}

.estoque-label {
    font-weight: normal;
}

.mt-20{
    margin-top: 20px;
}

.mt-25{
    margin-top: 25px;
}