
@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="row">
        <div class="messages">
            <h1>Cloudmarket</h1>
            <hr class="line"/>
            <p class="lead">Seja bem vindo ao Cloudmarket, sua loja virtual!</p>
        </div>
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/css/home.css")
}
